# maintain the latest version
celery==5.0.5
codecov==2.1.5
coverage==5.3
cryptography==2.5
ddt==1.1.1
djangorestframework==3.12.2
edx-celeryutils
edx-lint
edx-opaque-keys
edx-submissions
jsonfield==2.1.1
mako==1.0.7
mock==2.0.0
pdbpp==0.10.0
pep8==1.6.2
pylint-celery==0.3
pylint-django==2.2.0
pyOpenSSL==17.3.0
pytz==2020.5
pytest==6.1.1
pytest-cov==2.10.0
pytest-django==4.0.0
pytest-mock==3.3.1
six==1.14.0
tox==3.20.0

git+https://github.com/edx/xblock-utils.git@v1.0.5#egg=xblock-utils==1.0.5
git+https://github.com/edx/xblock-sdk.git@0.2.2#egg=xblock-sdk==0.2.2
