celery==3.1.18
codecov
coverage==5.3
cryptography==2.5
ddt==1.1.1
djangorestframework==3.12.2
edx-celeryutils==0.2.6
edx-lint
edx-opaque-keys
edx-submissions
jsonfield==2.1.1
mako==1.0.7
mock==2.0.0
pdbpp
pep8
pylint-django
pyOpenSSL==17.3.0
pytz
pytest
pytest-cov
pytest-django
pytest-mock
six==1.11.0
tox
xblock-sdk
xblock-utils
